 

body {
    margin: 0;
    width: 100%;
}

main {
    background-color:rgb(231, 230, 230);
    display: grid;
}
.bigarticle,
.usability,
.alienlander,
.business {
    margin-left: 10px;
}

.bigarticle,
.julyedition,
.photoshop,
.china {
    margin-right: 10px;
}

.bigarticle,
.business,
.usability,
.julyedition,
.alienlander,
.photoshop,
.china {
    background-color: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
} 

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: gray;
}

@media (min-width: 500px) {
    .main {
        width: 100%;
        grid-gap: 10px;
        gap: 10px;
    }
    .bigarticle {
        grid-area: 1 / 1 / 3 / 3;
    }
    
    img {
        height: auto;
        grid-area: 1 / 1 / 3 / 3;
    }
    .bigarticle,
    .usability,
    .alienlander,
    .business {
        margin-left: 10px;
        margin-right: 0px;
    }

    .bigarticle,
    .julyedition,
    .photoshop,
    .china {
        margin-right: 10px;
    }
}

@media (min-width: 1000px) {
    body {
        display: flex;
        width: 100vw;
        height: 100vh;
    }
    .main {
        justify-content: center;
        width: 100%;
        grid-gap: 10px;
        gap: 10px;
        grid-template-rows: 0;
        grid-template-columns: 300px 300px 300px 300px;
        grid-template-rows: 250px 250px 250px 250px;
        padding-top: 20px;
    }
    .bigarticle {
        grid-area: 1 / 1 / 3 / 3;
    }
    
    .img1 {
        height: auto;
        grid-area: 1 / 1 / 3 / 3;
        object-fit: cover;
    }
    img {
        grid-area: 0;
        height: 180px;
    }
    .business {
        grid-area: 3 / 3 / 5 / 4;
    }
    .alienlander {
        grid-area: 3 / 1 / 5 / 2;
    }
    .china {
        grid-area: 3 / 4 / 5 / 5;
    }
    .photoshop {
        grid-area: 3 / 2 / 5 / 3;
    }
    .usability {
        grid-area: 1 / 3 / 3 / 4;
    }
    .julyedition {
        grid-area: 1 / 4 / 3 / 5;
    }
    article > h1,
    article > h2,
    article > p,
    article > footer {
        margin-left: 10px;
    }
    article {
        display: flex;
        flex-direction: column;
    }
    article > p {
        display: flex;
        flex-grow: 1;
    }
    article > footer {
        margin-bottom: 15px;
    }

    .bigarticle > footer {
        margin-bottom: 50px;
    }
}