 

body {
    margin: 0;
    width: 100%;
}

main {
    background-color:rgb(231, 230, 230);
    margin: 0;
    /* height: 100%; */
    /* width: 375px; */
    display: grid;
    /* grid-template-columns: auto; */
    /* grid-template-rows: 220px 50px 100px 260px 50px 100px 220px 50px 100px 260px 50px 100px 240px 50px 100px 250px 50px 100px 257px 50px; */
}

section {
    display: grid;
}
*/
.bigarticle,
.business,
.usability,
.julyedition,
.alienlander,
.photoshop,
.china {
    /* box-shadow: 0px 10px 20px 0px grey; */
    /* display: flex; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: expanded;
    font-size: 15px;
    background-color: whitesmoke;
    border-radius: 2px;
    width: 100%;
}
/*
.img1 {
    grid-area: 1 / 1 / 2 / 2;
}

.bigarticle {
    grid-area: 2 / 1 / 3 / 2;
}

.img2 {
    grid-area: 4 / 1 / 5 / 2;
}

.usability {
    grid-area: 5 / 1 / 6 / 2;
}

.img3 {
    grid-area: 7 / 1 / 8 / 2;
}

.julyedition {
    grid-area: 8 / 1 / 9 / 2;
}

.img4 {
    grid-area: 10 / 1 / 11 / 2;
}

.alienlander {
    grid-area: 11 / 1 / 12 / 2;
}

.img5 {
    grid-area: 13 / 1 / 14 /2;
}

.photoshop {
    grid-area: 14 / 1 / 15 / 2;
}

.img6 {
    grid-area: 16 / 1 / 17 / 2;
}

.business {
    grid-area: 17 / 1 / 18 / 2;
}

.img7 {
    grid-area: 19 / 1 / 20 / 2;
}

.china {
    grid-area: 20 / 1 / 21 / 2;
}
*/

@media (min-width: 500px) {
    .main {
        display: grid;
        width: 100%;
        grid-template-rows: 300px 300px 300px 300px;
        grid-template-columns: auto auto;
    }
    .bigarticle {
        grid-area: 1 / 1 / 3 / 3;
    }
    
    img {
        height: auto;
        grid-area: 1 / 1 / 3 / 3;
    }
}
/*
@media (min-width: 1000px) {

}
*/
img {
    width: 100%;
    height: 300px;
    object-fit: cover;
} 
