@media (min-width: 500px) {
    .bigarticle {
        grid-area: 1 / 1 / 3 / 3;
    }
    main {
        display: grid;
        grid-template-rows: 20px 20px 20px 20px;
        grid-template-columns: 20px 20px;
    }
    img {
        width: 1000px;
        height: auto;
    }
}

@media (min-width: 1000px) {

}
img {
    display: flex;
    justify-content: center;
    width: 377px;
    height: auto;
}


body {
    margin: 0;
    display: grid;
    height: 100vh;
}

main {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 220px 20px 100px 260px 20px 100px 220px 20px 100px 260px 20px 100px 240px 20px 100px 250px 20px 100px 257px 20px;
}

section {
    display: grid;
}

.bigarticle,
.business,
.usability,
.julyedition,
.alienlander,
.photoshop,
.china {
    background-color: green;
}

.img1 {
    grid-area: 1 / 1 / 2 / 2;
}

.bigarticle {
    grid-area: 2 / 1 / 3 / 2;
}

.img2 {
    grid-area: 4 / 1 / 5 / 2;
}

.usability {
    grid-area: 5 / 1 / 6 / 2;
}

.img3 {
    grid-area: 7 / 1 / 8 / 2;
}

.julyedition {
    grid-area: 8 / 1 / 9 / 2;
}

.img4 {
    grid-area: 10 / 1 / 11 / 2;
}

.alienlander {
    grid-area: 11 / 1 / 12 / 2;
}

.img5 {
    grid-area: 13 / 1 / 14 /2;
}

.photoshop {
    grid-area: 14 / 1 / 15 / 2;
}

.img6 {
    grid-area: 16 / 1 / 17 / 2;
}

.business {
    grid-area: 17 / 1 / 18 / 2;
}

.img7 {
    grid-area: 19 / 1 / 20 / 2;
}

.china {
    grid-area: 20 / 1 / 21 / 2;
}