body {
    margin: 0;
    height: 100vh;
}

div {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template-rows: 80px 80px 1fr 80px;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    background-color: blue;
}

header, footer {
    background-color: rgb(5, 40, 82);
}

header, nav, main, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    margin: 0;
}
header {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

nav {
    background-color: rgb(107, 159, 255);
    grid-row: 2 / 3;
    grid-column: 1 / 5;
}

main {
    background-color: #cfcfcf;
    grid-row: 3 / 4;
    grid-column: 1 / 5;
}

.side1, .side2 {
    display: none;
}

@media (min-width: 1000px) {
    .side1, .side2 {
        display: inline-block;
    }
    .side1 {
        grid-row: 2 / 4;
        grid-column: 1 / 2;
        background-color: rgb(255, 0, 0);
    }
    
    .side2 {
        grid-row: 2 / 4;
        grid-column: 4 / 5;
        background-color: rgb(255, 0, 0);
    }
    nav {
        grid-row: 2 / 4;
        grid-column: 2 / 3;
    }
    main {
        grid-row: 2 / 4;
        grid-column: 3 / 4;
    }
}

footer {
    grid-row: 4 / 5;
    grid-column: 1 / 5;
}
