.header, .footer {
    height: 50px;
    background-color: #666666;
}

.content {
    flex-grow: 100;
    background-color: #cccccc;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body {
    margin: 0;
}