.header, .footer {
    height: 50px;
    background-color: #666666;
}

.content {
    background-color: #cccccc;
    flex-grow: 1;
}

.sidebar-first, .sidebar-second {
    width: 20%;
    background-color: #999999;
}

.main {
    flex-grow: 1;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.columns {
    height: 100%;
    display: flex;
}

body {
    margin: 0;
}