body  {
    margin: 0;
}

.header, .footer {
    height: 50px;
    background-color: #666666;
}

.content {
    flex-grow: 1;
    background-color: #cccccc;
}

.sidebar {
    width: 20%;
    background-color: #999999;

}

.main {
    flex-grow: 1;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.columns {
    height: 100%;
    display: flex;
}